.form-subtitle {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 40px;
    color: #8b7a67;
}

.auth-card {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
    width: 550px;
    max-width: 90%;
    margin: 0 auto;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #fcfcfc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.validation-error {
    color: #cc6666;
    font-size: 0.9em;
    display: block;
    margin-top: -10px;
    margin-bottom: 10px;
}

.form-actions {
    text-align: center;
    margin-top: 30px;
}

.submit-button {
    background-color: #8c786a;
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #a39486;
}


