body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

header {
    text-align: center;
    padding-top: 60px;
}

header h1 {
    font-size: 2.2em;
    font-weight: 500;
    color: #333;
    margin: 0;
}

.container {
    max-width: 820px;
    margin: 30px auto 100px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}

input,
select,
textarea,
button {
    font-family: inherit;
    font-size: 1em;
    box-sizing: border-box;
}