/*サブタイトル*/
.form-subtitle {
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #333;
}

/*確認テーブルのレイアウト*/
.confirm-table {
    width: 100%;
    margin-top: 30px;
}

.confirm-row {
    display: flex;
    border-bottom: none;
}

.confirm-label {
    flex-basis: 35%;
    font-size: 1em;
    font-weight: normal;
    background-color: #beb6ac;
    color: #333;
    padding: 15px 20px;
    border: 1px solid #c9c3bb;
    border-bottom: none;
    border-right: none;
}

.confirm-row:first-child .confirm-label {
    border-top: 1px solid #c9c3bb;
}

.confirm-row:last-child .confirm-label {
    border-bottom: 1px solid #c9c3bb;
}

.confirm-value {
    flex-basis: 65%;
    word-wrap: break-word;
    background-color: #f7f7f7;
    color: #333;
    padding: 15px 20px;
    border: 1px solid #c9c3bb;
    border-bottom: none;
}

.confirm-row:first-child .confirm-value {
    border-top: 1px solid #c9c3bb;
}

.confirm-row:last-child .confirm-value {
    border-bottom: 1px solid #c9c3bb;
}

.confirm-value.detail-value {
    white-space: pre-wrap;
}

/*アクションボタンの調整*/
.form-actions {
    text-align: center;
    margin-top: 30px;
}

/*送信ボタン*/
.submit-button {
    padding: 12px 30px;
    font-size: 1em;
    color: #fff;
    background-color: #777;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 15px;
}

.submit-button:hover {
    background-color: #555;
}

/*修正ボタン*/
.back-button {
    background: none;
    color: #000;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    font-size: 1em;
    padding: 0;
    line-height: 1.1;
}

.back-button:hover {
    color: #555;
}