/*サブタイトル*/
.form-subtitle {
    text-align: center;
    font-size: 2.5em;
    /* 大きめの文字サイズ */
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 50px;
    color: #333;
}

/*フォーム要素の基本レイアウト*/
.form-group {
    align-items: flex-start;
    margin-bottom: 25px;
}

.form-label {
    flex-basis: 35%;
    font-size: 1em;
    font-weight: normal;
    padding-top: 10px;
    color: #333;
}

.form-input-wrapper,
.name-group {
    flex-basis: 65%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

/*必須マークの装飾*/
.form-group.required .form-label::after {
    content: " ※";
    color: #cc6666;
    font-size: 0.8em;
    vertical-align: top;
    margin-left: 5px;
}

/*個別フィールドのスタイル*/
input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
width: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #f5f5f5;
    border-radius: 3px;
    font-size: 1em;
    color: #333;
    box-sizing: border-box;
}

textarea {
    height: 120px;
    resize: none;
    padding-top: 15px;
}

:placeholder {
    color: #aaa;
}

/*名前フィールドの調整*/
.name-group {
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.form-input-half {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 7.5px);
}

.input-example {
    font-size: 0.8em;
    color: #aaa;
    margin-top: 5px;
    display: block;
    padding-left: 5px;
}

/*性別フィールドの調整*/
.gender-radios {
    padding-top: 8px;
}

.gender-radios label {
    margin-right: 25px;
    color: #333;
    font-size: 1em;
    cursor: pointer;
}

/*お問い合わせの種類*/
select {
    appearance: none;
    -webkit-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 35px;
}

/*確認画面ボタン*/
.form-actions {
    text-align: center;
    margin-top: 50px;
}

.submit-button {
    padding: 12px 40px;
    font-size: 1.1em;
    color: #fff;
    background-color: #777;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #555;
}