.thanks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    position: relative;
    z-index: 10;
    text-align: center;
    padding: 20px;
}

/*背景の巨大な透かし文字*/
.thanks-container::before {
    content: "Thank you";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 15vw;
    font-weight: bold;
    color: rgba(190, 182, 172, 0.4);
    letter-spacing: 0.05em;
    white-space: nowrap;
    z-index: 1;
}

.thanks-message {
    font-size: 1.2em;
    font-weight: normal;
    margin-bottom: 25px;
    color: #8b7a67;
    z-index: 10;
}

.home-button {
    display: inline-block;
    padding: 10px 40px;
    font-size: 1em;
    color: #fff;
    background-color: #a39c93;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.3s;
}

.home-button:hover {
    background-color: #888;
}

